/* ==========================================================================
   Fonts — self-hosted variable woff2 (latin subset)
   Baloo 2 + Nunito, weights 400-800 from a single file each.
   No external requests: works offline. (Both SIL OFL licensed.)
   Paths are relative to css/cascade.css.
   ========================================================================== */

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(../fonts/baloo2-latin.woff2) format('woff2');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400 800;
  font-display: swap;
  src: url(../fonts/nunito-latin.woff2) format('woff2');
}
